/*****************************************************************
							FONTS 
*****************************************************************/

@font-face {
  font-family: "Market Deco";
  src: url("../fonts/Market_Deco.eot");
  src: url("../fonts/Market_Deco.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Market_Deco.woff") format("woff"),
       url("../ffonts/Market_Deco.ttf") format("truetype"),
       url("../fonts/Market_Deco.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*****************************************************************
							MIXINS 
*****************************************************************/

@mixin divisions {
	display: block;
	max-width: 100%;
	border-radius: 0.25em;
}

@mixin center-img {
	float: none;
	display: block;
	margin: 1em auto;
}

@mixin left-img {
	float: left;
	margin: 0 2em 0.5em 0;
}

@mixin right-img {
	float: right;
	margin: 0 0 0.5em 1.5em;
}

/*****************************************************************
					OFF-CANVAS NAVIGATION 
*****************************************************************/

i {
	margin-right: .5em;
	font-size: 1.5em;
}

/*****************************************************************
						GLOBAL STYLES 
*****************************************************************/

h2 {
	margin: 1em 0;
	&:first-of-type {
		margin-top: 0;
	}
}

h3 {
	margin: 1.5em 0 0.5em 0;
}

.hero-banner {
	img {
		display: block;
		margin: 0 auto;
		padding: 3% 10%;
		@media #{$medium-up} {
			margin-top: 2em;
		}
	}
}

.main-content {
	padding: 1em;
}

.tabs-content h2 {
	margin-top: 1em;
}

/*****************************************************************
							HOME
*****************************************************************/

.home-img-sm {
	@include center-img;
}

.home-img-md {
	@include left-img;
}

/*****************************************************************
							ABOUT
*****************************************************************/

.dr-steel-sm {
	@include left-img;
	max-width: 50%;
}

.dr-steel-md {
	@include left-img;
	max-width: 40%;
}

.tsu-logo {
	@include center-img;
	@media #{$medium-up} {
		@include left-img;
	}
}

.nurse-image {
	height: 300px;
	@include left-img;
}

.propaganda {
	@include right-img;
	@media #{$small-only} {
		@include center-img;
	}
}

/*****************************************************************
						DISCOGRAPHY
*****************************************************************/

.album_title {
	margin: 0.5em 0 1em 0;
	@media #{$small-only} {
		text-align: center;
	}
	@media #{$medium-up} {
		margin: 0 0 1em 0;
	}
}

.track_list {
	margin-top: 1em;
	@media #{$medium-up} {
		margin-top: 0;
	}
}

/*****************************************************************
						AUDIO TRANSMISSIONS 
*****************************************************************/

.audio_list {
	list-style-type: none;
	margin-left: 0;
}

audio {
	width: 100%;
	@media #{$small-only} {
		width: 97%;
	}
}

/*****************************************************************
						VIDEO TRANSMISSIONS 
*****************************************************************/

#video_transmissions {
	p {
		margin-bottom: 2em;
	}
	h3 {
		margin: 0.5em 0 1em 0;
		text-align: center;
	}
}

/*****************************************************************
						ENLISTMENT FORM 
*****************************************************************/

form .row {
	padding-top: 2em;
}

form .row .row {
	padding-top: 0;
}

.required {
	&:after {
		content: " *";
		color: $primary-color;
	}
}

.division_title {
	display: block;
	text-align: center;
}

input[type=radio] {
    display:none;
}

input[type=radio] +label img {
	@include divisions;
	opacity: 0.5;
}

input[type=radio]:checked +label img {
	@include divisions;
	opacity: 1;
}

textarea {
	// margin-top: 1.5em;
}

#enlist_button {
	display: block;
	margin: 0 auto;
}


