/*****************************************************************
							MIXINS 
*****************************************************************/

@mixin divisions {
	display: block;
	max-width: 100%;
	border-radius: 0.25em;
}

/*****************************************************************
					OFF-CANVAS NAVIGATION 
*****************************************************************/

i {
	margin-right: .5em;
	font-size: 1.5em;
}

/*****************************************************************
						GLOBAL STYLES 
*****************************************************************/

h2 {
	margin: 1em 0;
	&:first-of-type {
		margin-top: 0;
	}
}

h3 {
	margin: 1.5em 0 0.5em 0;
}

.hero-banner {
	img {
		display: block;
		margin: 0 auto;
		// margin-top: 1.5%;
		padding: 3% 10%;
	}
}

.main-content {
	padding: 1em;
}

/*****************************************************************
						DISCOGRAPHY
*****************************************************************/

.album_title {
	margin: 0.5em 0 1em 0;
	@media #{$small-only} {
		text-align: center;
	}
	@media #{$medium-up} {
		position: relative;
		right: 2.5%;
		margin: 0 0 1em 0;
	}
}

.track_list {
	margin-top: 1em;
}

/*****************************************************************
						AUDIO TRANSMISSIONS 
*****************************************************************/

.audio_list {
	list-style-type: none;
	margin-left: 0;
}

audio {
	width: 100%;
	@media #{$small-only} {
		width: 97%;
	}
}

/*****************************************************************
						VIDEO TRANSMISSIONS 
*****************************************************************/

#video_transmissions {
	p {
		margin-bottom: 2em;
	}
	h3 {
		margin: 0.5em 0 1em 0;
		text-align: center;
	}
}

/*****************************************************************
						ENLISTMENT FORM 
*****************************************************************/

form .row {
	padding-top: 2em;
}

form .row .row {
	padding-top: 0;
}

.required {
	&:after {
		content: " *";
	}
}

.division_title {
	display: block;
	text-align: center;
}

input[type=radio] {
    display:none;
}

input[type=radio] +label img {
	@include divisions;
	opacity: 0.5;
}

input[type=radio]:checked +label img {
	@include divisions;
	opacity: 1;
}

textarea {
	// margin-top: 1.5em;
}

#enlist_button {
	display: block;
	margin: 0 auto;
}


