/*****************************************************************
						GLOBAL STYLES 
*****************************************************************/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Limelight', Helvetica, Arial, sans-serif;
}

/*****************************************************************
						AUDIO TRANSMISSIONS 
*****************************************************************/

.audio_list {
	list-style-type: none;
	margin-left: 0;
}

audio {
	width: 100%;
	@media #{$small-only} {
		width: 97%;
	}
}

/*****************************************************************
						ENLISTMENT FORM 
*****************************************************************/

@mixin divisions {
	display: block;
	max-width: 100%;
}

.required {
	&:after {
		content: " *";
	}
}

input[type=radio] {
    display:none;
}

input[type=radio] +label img {
	@include divisions;
	opacity: .5;
}

input[type=radio]:checked +label img {
	@include divisions;
	opacity: 1;
}
 
input[type=radio] + label {
   // background: red;
   // height: 200px;
   // width: 200px;
   // display:inline-block;
   // padding: 0 0 0 0px;
}

input[type=radio]:checked + label
{
    // background: magenta;
    // height: 200px;
    // width: 200px;
    // display:inline-block;
    // padding: 0 0 0 0px;
}




